#mail {
  font-weight: bold;
  border-bottom: 1px solid rgb(220, 53, 69);
  width: 100%;
}

#comment {
  color: rgb(33, 37, 41);
  background-color: rgb(248, 249, 250);
  border-radius: 7px / 7px;
  padding: 1% 1%;
}
