// Reset basique
// *,
// *::before,
// *::after {
//   margin: 0px;
//   padding: 0px;
//   box-sizing: inherit;
// }

body,
h1,
h2,
h3,
form,
input,
p,
a,
li {
  font-family: "Rajdhani", sans-serif;
}

body {
  //height: 100vh;
  width: 100%;
  //background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.caroussel {
  height: 250px;
  width: 98%;
  position: relative;

  .switchLeft,
  .switchRight {
    color: white;
    font-family: "Manrope", sans-serif;
    height: 100%;
    width: 45px;
    line-height: 250px;
    font-size: 25px;
    text-align: center;
    background-color: rgba($color: #212529, $alpha: 0.5);
    //background: transparent;
    //mix-blend-mode: multiply;
    top: 0;
    z-index: 5;
    p {
      line-height: 250px;
      font-family: "Manrope", sans-serif;
      font-size: 25px;
      text-align: center;
      color: white;
      //mix-blend-mode: screen;
    }
  }

  .switchLeft {
    position: absolute;
    //left: -50px;
    left: 0px;
  }
  .switchRight {
    position: absolute;
    right: 0px;
  }

  .carousselbox {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;

    img {
      min-width: 147px;
      max-width: 147px;
      height: 200px;
      background-size: cover;
      //background-color: rgba($color: #ffffff, $alpha: 0.3);
      margin: 5px 5px;
      cursor: pointer;
      transition: 0.5s ease;
      z-index: 2;
    }

    img:hover {
      transform: scale(1.2);
      z-index: 4;
    }
  }
}

#caroussel_title {
  width: 98%;
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: left;
  font-weight: 500;
}

#films_container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  //justify-self: center !important;

  img {
    padding: 0 5px 10px 5px;
    transition: 0.5s ease;
    z-index: 1;
  }
  img:hover {
    transform: scale(1.1);
    z-index: 3;
  }
}
